In [6]:
import FinanceDataReader as fdr

fdr.StockListing('KRX').head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,73800,1,1000,1.37,72800,73900,72800,12726404,936829110513,440569952190000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,151300,1,4500,3.07,146200,153200,146000,3997323,603119297000,110146757824500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,397500,2,-12500,-3.05,412000,412500,395500,289496,115932894000,93015000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,821000,2,-7000,-0.85,820000,827000,818000,56712,46541913000,58433854000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,252500,3,0,0.00,253500,257000,248500,1801441,455378094500,53411705265000,211531506,STK

In [9]:
df = fdr.StockListing('KRX')
df['Name']=='현대차'

0       False
1       False
2       False
3       False
4        True
        ...
2787    False
2788    False
2789    False
2790    False
2791    False
Name: Name, Length: 2792, dtype: bool

In [11]:
df[df['Name']=='현대차']

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
4,005380,KR7005380001,현대차,KOSPI,,252500,3,0,0.0,253500,257000,248500,1801441,455378094500,53411705265000,211531506,STK

In [13]:
# 종목코드확인
code = df[df['Name']=='현대차']['Code']
code

4    005380
Name: Code, dtype: object

In [16]:
# 종목조회
fdr.DataReader(code).head()

             Open   High    Low  Close   Volume    Change
Date
1999-10-28  17980  19296  17934  19251  1582160       NaN
1999-10-29  19523  19660  19069  19160  1645520 -0.004727
1999-11-01  19342  22021  19206  21521  3884500  0.123225
1999-11-02  21521  22520  21067  22247  7522250  0.033734
1999-11-03  22248  22656  21612  22066  1888150 -0.008136

In [18]:
# 특정기간 시황
fdr.DataReader(code, '2024-01-01', '2024-01-10')

              Open    High     Low   Close  Volume    Change
Date
2024-01-02  202000  202500  199800  200500  373050 -0.014742
2024-01-03  199100  199500  193800  193800  548675 -0.033416
2024-01-04  192000  192800  189100  190000  505979 -0.019608
2024-01-05  190100  190500  187200  187300  440219 -0.014211
2024-01-08  187600  188900  185500  185700  323498 -0.008542
2024-01-09  187800  187800  185500  185600  349068 -0.000539
2024-01-10  185600  187300  185200  186700  330767  0.005927

In [ ]:
# 컬럼명 교체
tb = fdr.DataReader(code, '2024-01-01', '2024-01-10').rename(columns={
    'Open':'시가',
    'Close':'종가',
    'Low':'저가',
    'High':'고가',
    'Volume':'거래량',
    'Change':'변동'
})