In [45]:
import FinanceDataReader as fdr

fdr.StockListing('KRX').head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,73800,1,1000,1.37,72800,73900,72800,12726404,936829110513,440569952190000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,151300,1,4500,3.07,146200,153200,146000,3997323,603119297000,110146757824500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,397500,2,-12500,-3.05,412000,412500,395500,289496,115932894000,93015000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,821000,2,-7000,-0.85,820000,827000,818000,56712,46541913000,58433854000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,252500,3,0,0.00,253500,257000,248500,1801441,455378094500,53411705265000,211531506,STK

In [46]:
krx = fdr.StockListing('KRX')
krx['Name']=='현대차'

0       False
1       False
2       False
3       False
4        True
        ...
2787    False
2788    False
2789    False
2790    False
2791    False
Name: Name, Length: 2792, dtype: bool

In [47]:
krx[krx['Name']=='현대차']

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
4,005380,KR7005380001,현대차,KOSPI,,252500,3,0,0.0,253500,257000,248500,1801441,455378094500,53411705265000,211531506,STK

In [48]:
# 종목코드확인
code = krx[krx['Name']=='현대차']['Code']
code

4    005380
Name: Code, dtype: object

In [49]:
# 종목조회
fdr.DataReader(code).head()

             Open   High    Low  Close   Volume    Change
Date
1999-10-28  17980  19296  17934  19251  1582160       NaN
1999-10-29  19523  19660  19069  19160  1645520 -0.004727
1999-11-01  19342  22021  19206  21521  3884500  0.123225
1999-11-02  21521  22520  21067  22247  7522250  0.033734
1999-11-03  22248  22656  21612  22066  1888150 -0.008136

In [50]:
# 특정기간 시황
fdr.DataReader(code, '2024-02-01', '2024-02-20')

              Open    High     Low   Close   Volume    Change
Date
2024-02-01  193900  209000  193500  208000  2855056  0.068859
2024-02-02  221500  228000  214000  227000  5844398  0.091346
2024-02-05  233500  239500  226000  238000  5742710  0.048458
2024-02-06  234000  240000  230500  235500  3293825 -0.010504
2024-02-07  239000  246500  238000  245000  2711612  0.040340
2024-02-08  243000  250500  241500  250000  3017429  0.020408
2024-02-13  251000  261000  247500  249000  2690468 -0.004000
2024-02-14  245000  251000  244500  245500  1702299 -0.014056
2024-02-15  250000  250500  237000  240000  2103428 -0.022403
2024-02-16  241500  253000  235500  252500  2261790  0.052083
2024-02-19  253500  257000  248500  252500  1781737  0.000000

In [51]:
# 컬럼명 교체
tb = fdr.DataReader(code, '2024-02-01', '2024-02-20').rename(columns={
    'Open':'시가',
    'Close':'종가',
    'Low':'저가',
    'High':'고가',
    'Volume':'거래량',
    'Change':'변동'
})
tb

                시가      고가      저가      종가      거래량        변동
Date
2024-02-01  193900  209000  193500  208000  2855056  0.068859
2024-02-02  221500  228000  214000  227000  5844398  0.091346
2024-02-05  233500  239500  226000  238000  5742710  0.048458
2024-02-06  234000  240000  230500  235500  3293825 -0.010504
2024-02-07  239000  246500  238000  245000  2711612  0.040340
2024-02-08  243000  250500  241500  250000  3017429  0.020408
2024-02-13  251000  261000  247500  249000  2690468 -0.004000
2024-02-14  245000  251000  244500  245500  1702299 -0.014056
2024-02-15  250000  250500  237000  240000  2103428 -0.022403
2024-02-16  241500  253000  235500  252500  2261790  0.052083
2024-02-19  253500  257000  248500  252500  1781737  0.000000

In [52]:
# 숫자형식
tb['시가'] = tb['시가'].apply(lambda x:f'{x:,}원')
tb['종가'] = tb['종가'].apply(lambda x:f'{x:,}원')
tb['저가'] = tb['저가'].apply(lambda x:f'{x:,}원')
tb['고가'] = tb['고가'].apply(lambda x:f'{x:,}원')
tb['거래량'] = tb['거래량'].apply(lambda x:f'{x:,}건')
tb['변동'] = tb['변동'].apply(lambda x:f'{x:.2%}')
tb

                  시가        고가        저가        종가         거래량      변동
Date
2024-02-01  193,900원  209,000원  193,500원  208,000원  2,855,056건   6.89%
2024-02-02  221,500원  228,000원  214,000원  227,000원  5,844,398건   9.13%
2024-02-05  233,500원  239,500원  226,000원  238,000원  5,742,710건   4.85%
2024-02-06  234,000원  240,000원  230,500원  235,500원  3,293,825건  -1.05%
2024-02-07  239,000원  246,500원  238,000원  245,000원  2,711,612건   4.03%
2024-02-08  243,000원  250,500원  241,500원  250,000원  3,017,429건   2.04%
2024-02-13  251,000원  261,000원  247,500원  249,000원  2,690,468건  -0.40%
2024-02-14  245,000원  251,000원  244,500원  245,500원  1,702,299건  -1.41%
2024-02-15  250,000원  250,500원  237,000원  240,000원  2,103,428건  -2.24%
2024-02-16  241,500원  253,000원  235,500원  252,500원  2,261,790건   5.21%
2024-02-19  253,500원  257,000원  248,500원  252,500원  1,781,737건   0.00%

In [53]:
# csv저장
tb.to_csv('hyundai.csv')

In [65]:
# 미국시장 조회하기
snp = fdr.StockListing('S&P500')
len(snp)

503

In [67]:
# 애플주식 기간조회
fdr.DataReader('AAPL','2024')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,187.149994,188.440002,183.889999,185.639999,185.403412,82488700
2024-01-03,184.220001,185.880005,183.429993,184.250000,184.015198,58414500
2024-01-04,182.149994,183.089996,180.880005,181.910004,181.678177,71983600
2024-01-05,181.990005,182.759995,180.169998,181.179993,180.949097,62303300
2024-01-08,182.089996,185.600006,181.500000,185.559998,185.323517,59144500
2024-01-09,183.919998,185.149994,182.729996,185.139999,184.904053,42841800
2024-01-10,184.350006,186.399994,183.919998,186.190002,185.952713,46792900
2024-01-11,186.539993,187.050003,183.619995,185.589996,185.353485,49128400
2024-01-12,186.059998,186.740005,185.190002,185.919998,185.683060,40444700
2024-01-16,182.160004,184.259995,180.929993,183.630005,183.395981,65603000
2024-01-17,181.270004,182.929993,180.300003,182.679993,182.447189,47317400
2024-01-18,186.089996,189.139999,185.830002,188.630005,188.389618,78005800
2024-01-19,189.330002,191.949997,188.820007,191.559998,191.315872,68741000
2024-01-22,192.300003,195.330002,192.259995,193.889999,193.642899,60133900
2024-01-23,195.020004,195.750000,193.830002,195.179993,194.931259,42355600
2024-01-24,195.419998,196.380005,194.339996,194.500000,194.252121,53631300
2024-01-25,195.220001,196.270004,193.110001,194.169998,193.922546,54822100
2024-01-26,194.270004,194.759995,191.940002,192.419998,192.174774,44594000
2024-01-29,192.009995,192.199997,189.580002,191.729996,191.485657,47145600
2024-01-30,190.940002,191.800003,187.470001,188.039993,187.800354,55859400
2024-01-31,187.039993,187.100006,184.350006,184.399994,184.164993,55467800
2024-02-01,183.990005,186.949997,183.820007,186.860001,186.621872,64885400
2024-02-02,179.860001,187.330002,179.250000,185.850006,185.613159,102518000
2024-02-05,188.149994,189.250000,185.839996,187.679993,187.440811,69668800
2024-02-06,186.860001,189.309998,186.770004,189.300003,189.058762,43490800
2024-02-07,190.639999,191.050003,188.610001,189.410004,189.168625,53439000
2024-02-08,189.389999,189.539993,187.350006,188.320007,188.080017,40962000
2024-02-09,188.649994,189.990005,188.000000,188.850006,188.850006,45155200
2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900
2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500
2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500
2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500
2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400